* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	position: relative;
}

/* Space between containers */
.work-container, .education-container,.about-container,.cover-container,.certification-container{
	margin-bottom: 5rem;
}

/* Anchor for scroll */            
a.anchor {
    display: block;
    position: relative;
    top: -5rem;
    visibility: hidden;
}

/* Navbar */
.navbar{
	background-color: #111111;
}

.nav-icon{
	margin-right: 1rem;
}

/* Cover */
.cover-container{
	margin-top: 6.2rem;
}

.cover-container h1{
    font-size: 2rem;
}

.cover-container .lead{
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
    font-size: 1.5rem;
}

.rounded-circle{
	max-height: 15rem;
	max-width: 	15rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}


.lead{
	text-align: center;
}

/* Social Bubles */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoGitlab:hover{
    background-color: #FC6D27;
}
.social-network a.icoEmail:hover{
    background-color: #CC6666;
}
.social-network a.icoLinkedin:hover i, .social-network a.icoGitlab:hover i {
	color:#fff;
}

a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
    background-color: #636363;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

/* About */
.about-container{
    background-color: rgb(24, 26, 27);
	padding: 1.25rem;
}

.progress-bar{
    background: #1e5f89;
}

/* Education/Experience */
.experence-container{
	padding: 1.25rem;
}

.col-md-8{
	background-color: rgb(24, 26, 27);
}

.col-md-6{
	margin-bottom: 5rem;
}

.experence-container h2{
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}

.card-body{

	background-color: rgb(24, 26, 27);
	padding: 0.5rem;
}

/* Experience Timeline */
.timeline {
    position: relative;
    background: rgb(24, 26, 27);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5rem;
    margin: 0 auto 1rem auto;
    overflow: hidden;
}

.timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    border-right: 2px dashed white;

    height: 100%;
    display: block;
}

.timeline-row {
    padding-left: 50%;
    position: relative;
    margin-bottom: 30px;
}

.timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 15px;
    text-align: right;
    margin-right: 20px;
    color: #bcd0f7;
    font-size: 1.5rem;
}

.timeline-row .timeline-time small {
    display: block;
    font-size: 0.8rem;
}

.timeline-row .timeline-content {
    position: relative;
    padding: 20px 30px;
	background: #212529;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.timeline-row .timeline-content:after {
    content: "";
    position: absolute;
    top: 20px;
    height: 16px;
    width: 16px;
    background: #1e5f89;
}

.timeline-row .timeline-content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: -49px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 10;
    background: #212521;
    border: 2px dashed #1e5f89;
}

.timeline-row .timeline-content p {
    margin-bottom: 30px;
    line-height: 150%;
}
.timeline-row .timeline-content i {
    font-size: 1.2rem;
    line-height: 100%;
    padding: 15px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #272e48;
    margin-bottom: 10px;
    display: inline-block;
}
.timeline-row .timeline-content .thumbs {
    margin-bottom: 20px;
    display: flex;
}
.timeline-row .timeline-content .thumbs img {
    margin: 5px;
    max-width: 60px;
}
.timeline-row .timeline-content .badge {
    color: #ffffff;
    background: linear-gradient(120deg, #1e5f89 0%, #0047b1 100%);
}
.timeline-row:nth-child(even) .timeline-content {
    margin-left: 40px;
    text-align: left;
}
.timeline-row:nth-child(even) .timeline-content:after {
    left: -8px;
    right: initial;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(-135deg);
}
.timeline-row:nth-child(even) .timeline-content:before {
    left: -52px;
    right: initial;
}
.timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}
.timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}
.timeline-row:nth-child(odd) .timeline-content {
    margin-right: 40px;
}
.timeline-row:nth-child(odd) .timeline-content:after {
    right: -8px;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
} 

@media (max-width: 992px) {
    .timeline {
        padding: 15px;
    }
    .timeline:after {
        border: 0;
    }
    .timeline .timeline-row:nth-child(odd) {
        padding: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:before {
        display: none;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:after {
        display: none;
    }
    .timeline .timeline-row:nth-child(even) {
        padding: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
        text-align: left;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content {
        margin: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:before {
        display: none;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:after {
        display: none;
    }
}

/* Certification */
.certification-container {
    font-size: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
}

.certification-container h3{
    margin-top: 0.75rem;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.certification-list {
    clear: both;
    list-style: none;
    padding-left: 2%;
}

.certification-list li {
    margin: 2em 0;
    padding-top: 1em;
    display: block;
    position: relative;
    counter-increment: inst;
}

  
.certification-list li::before {
    content: counter(inst);
    
    background: #1e5f89;
    color: #fff;
    
    font-size: 1em;
    font-weight: 700;
    font-style: italic;
    
    border-radius: 0.675em 0.675em 0.675em 0.675em;
    font-size: 1.5em;
    text-align: center;
    
    padding-top: 0;
    left: -5%;
    height: 1.35em;
    width: 1.35em;
    position: absolute;
    
    transition: all 0.2s ease-in-out;
    
    z-index: -1;
}
@media (min-width: 33em) {
    .steps li:before {
      border-radius: 50%;
      font-size: 1.5em;
      height: 1.35em;
      margin-left: 2.5%;
      padding-left: 0;
      padding-top: 0;
      top: -0.15em;
      width: 1.35em;
      z-index: -1;
    }
}
  